.commentBoxHolder{
    padding:0px;
}

.commentForm{

}

.commentBoxHolder .sender{
    width: 100%;
    background: #eaeaea;
    padding: 5px;

}

.commentBoxHolder .message{
    background: rgb(238, 238, 238) none repeat scroll 0% 0%;
    width: 100%;
    height: 115px;
    padding: 5px;
    resize: none;
}


.commentBoxHolder .commentForm input[type='radio']{
    padding: 5px;
    margin-left: 20px;
}

.commentBoxHolder .submit{
    display: block;
    width: 100%;
    text-align: right;
    padding: 15px;
}
.commentBoxHolder .commentList{
    background: #f4f4f4;
}

.commentBoxHolder .comment{
    display: block;
    padding: 10px;
    width: 100%;
    min-height: 100px;
}

.commentBoxHolder .comment:first-child {

    background-color: #c7c8c3;

}

.commentBoxHolder .comment:nth-child(2n+3){
    background-color: #c7c8c3;

}

.comment .commentMessage{
    min-height: 50px;
    padding-left: 20px;
}

.comment .details{
    font-size: 12px;
}