/*
	Author : Resti Orticio
	Date: 03/29/2019
*/

/* fonts */
@font-face {
  font-family: 'pn';
  src: url('../font/pn.ttf') format('truetype');
}

/*@font-face {
  font-family: 'pn-semi-bold';
  src: url('../font/pn-semi-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'pn-medium';
  src: url('../font/pn-medium.ttf') format('truetype');
}*/

body{
	background: #fff;	
}

a,h1,h2,h3,h4,h5,span,p,strong{
	font-family: pn !important;
}

h1,h2,h3,h4,h5{
	font-weight: 600;
}

h1{
	font-size: 26px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 22px;
}

/* header 1st line*/
header .line:nth-child(1) .box{
	max-width: 1000px;
	margin: auto;
	height: 88px;
	padding: 10px;
}

header .line:nth-child(1) .box .left{
	height: 70px;
	width: 30%;
	float: left;
}

header .line:nth-child(1) .box .mid{
	width: 40%;
	float: left;
}

header .line:nth-child(1) .box .right{
	width: 30%;
}

.box .mid .logo{
    margin: auto;
    max-width: 180px;
    margin-top: 8px;
}

header .line:nth-child(1) .box .right .button{
    margin-top: 16px;
    width: 197px !important;
    background-color: #E00000;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 40px;
}

/* header 2nd line*/
header .line:nth-child(2){
	padding: 0px;
    height: 49px;
    text-align: center;
    background: #e00000;
    border-bottom: 5px #4267b2 solid;
}

header .line:nth-child(2) nav{
	text-align: center;
    margin: auto;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    background: #e00000;
}

header .line:nth-child(2) nav ul li a img{
    width: 18px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
    position: inherit;
    /* padding: 0px; */
    display: -webkit-inline-box;
}

header .line:nth-child(2) nav ul li a{
    height: 44px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: sans-serif, verdana, pn;
    font-weight: 600;  
    margin-left: 5px;  
}

header .line:nth-child(2) nav ul li a:hover, 
header .line:nth-child(2) nav ul li a:hover{
    background-color: rgba(33,34,35,.1);
}

header .line:nth-child(2) nav .active-item a{
	background-color: rgba(33,34,35,.1);
}

.item-container{    
    padding: 3px;
}

.item-image{
	border: 3px solid #c7c7c745;
	/*display: inline-block;*/
	transition: 0.3s;
}

.item-image img {
/*    max-width: 300px !important;
    max-height: 400px !important;*/
    width: 300px !important;
    height: 400px !important;
}

.item-container .details{
    display: inline-block;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-family: pn;
    width: 100%;
}

.item-image:hover{
    box-shadow: 0 0 3px rgba(78, 75, 75, 0.4);
    border: 3px solid #463f3f45;
}

.price{
	color: #e00000;
    font-weight: 600;
    font-size: 18px;
}

.details .button{
	margin-top: 16px;
    width: 100% !important;
    background-color: #E00000;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin: auto;
}    

.details p.specs{
	text-align: left;
    line-height: 17px;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid #d8d4d4;
}

.details h4{
	font-size: 17px;
}

.details p.specs i{
	font-size: 15px;
    color: #717171;
    margin-right: 5px;
}

.post-wrap{
    margin: auto;
    float: none;
}