

* {box-sizing: border-box}

/* Style the tab */
.tab {
    padding:0;
    float: left;
    border: 1px solid #ccc;
    border-right:none;
    background-color: #f1f1f1;
    height: 77vh;
}


/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 30px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: white;/*#4fbfa8;*/
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
    height: 77vh;
    width: 74vw;
    display:none;
}

.tabcontent.active{
    display: block;
}

.myMessage{
    padding: 14px;
    float: right;
    margin-top: 10px;
    margin-right: 23px;
    border-radius: 17px 17px 0px 17px;
    background: #3ba4d5;
    color: white;
    min-width: 158px;
    max-width: 500px;
    word-wrap: break-word;
    word-break: break-all;

}

.userMessage{
    padding: 14px;
    float: left;
    margin-top: 10px;
    margin-left: 11px;
    border-radius: 17px 17px 17px 0px;
    background: #f0f0f0;
    color: black;
    min-width: 158px;
    max-width: 500px;
    word-wrap: break-word;
    word-break: break-all;
}

.messageBlock{
    overflow-y: auto ;
    overflow-x: hidden;
    min-height: 55vh;
    max-height: 60vh;
    vertical-align: buttom;
}

.messageForm{
    margin-top: 10px;
    float:right;
}

.messageForm .inputMessage{
    background: #dfdfdf;
    width: 60vw;
    border-radius: 10px;
    padding: 10px;
}

.messageForm button{
    background: #4463a8;
    color: white;
    padding: 10px;
    border-radius: 16px;
}